/* THIS IS THE COPY OF https://codepen.io/tutsplus/pen/MWedpoj

THIS PROJECT USES SCSS Preprocessor
*/

/* RESET STYLES & HELPER CLASSES ------------------------------------------------------------------------------------- */
:root {
    --level-1: #8dccad;
    --level-2: #f5cc7f;
    --level-3: #7b9fe0;
    --level-4: #f27c8d;
    --black: black;

    --red: #ff1111;
}

* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

ol {
    list-style: none;
}

body {
    margin: 80px 0 100px;

    font-family: "inter", sans-serif;
}

.container {
    max-width: 100%;
    padding: 20px;
    margin: 0 20px;
}

.rectangle {
    position: relative;
    text-align: center;
    padding: 40px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}


/* LEVEL-2 STYLES ------------------------------------------------ */
.level-2-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 4fr);
}

.level-2-wrapper > li:last-child::before,
.level-3-wrapper > li:last-child::before {
    display: block;
}

.level-2-wrapper > li::before,
.level-3-wrapper > li::before {
    bottom: 100%; /* Push above the block */
    left: 50%; /* Align to center */
    transform: translateX(50%) /* align to center */;
}

.level-2 {
    width: 100%;
    position: relative;
    margin: 0 auto 140px;
    grid-template-columns: repeat(2, 1fr);
}

.level-2-wrapper::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 25%;
    width: 50%;
    height: 4px;
    background: var(--black);
}

.level-2-wrapper::after {
    display: none;
    content: "";
    position: absolute;
    left: -20px;
    bottom: -20px;
    width: calc(100% + 20px);
    height: 4px;
    background: var(--black);
}

.level-2-wrapper li {
    position: relative;
}

.level-2-wrapper > li::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 20px;
    background: var(--black)
}

.level-2 {
    width: 70%;
    margin: 0 auto 40px;
    background: var(--level-2);
}

.level-2::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: var(--black);
}

.level-2::after {
    display: none;
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-100%, -50%);
    width: 20px;
    height: 2px;
    background: var(--black);
}


/* LEVEL-3 STYLES ----------------------------------------------- */
.level-3-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    margin: 0 auto;
}

.level-3-wrapper::before {
    content: "";
    position: absolute;
    top: -20px;
    left: calc(25% - 5px);
    width: calc(50% + 10px);
    height: 2px;
    background: var(--black);
}

.level-3-wrapper > li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 2px;
    height: 20px;
    background: var(--black);
}

.level-3 {
    margin-bottom: 20px;
    background: var(--level-3);
}

/* LEVEL-4 STYLES ----------------------------------------------------- */
.level-4-wrapper {
    position: relative;
    width: 80%;
    margin-left: auto;
}

.level-4-wrapper::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: 2px;
    height: calc(100% + 20px);
    background: var(--black);
}

.level-4-wrapper li + li {
    margin-top: 10px;
}

.level-4 {
    font-weight: normal;
    background: var(--level-4);
}

.level-4::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-100%, -50%);
    width: 10px;
    height: 1px;
    background: var(--black);
}

/* MQ STYLES ----------------------------------------------------- */
@media screen and (max-width: 700px) {
    .rectangle {
        padding: 20px 10px;
    }

    .level-1,
    .level-2 {
        width: 100%;
    }

    .level-1 {
        margin-bottom: 20px;
    }

    .level-1::before,
    .level-2-wrapper > li::before {
        display: none;
    }

    .level-2-wrapper,
    .level-2-wrapper::after,
    .level-2::after {
        display: block;
    }

    .level-2-wrapper::before {
        left: -20px;
        width: 2px;
        height: calc(100% + 40px);
    }

    .level-2-wrapper > li:not(:first-child) {
        margin-top: 50px;
    }
}

.img {
    border-radius: 50%;
}

/* CRUTCHES */

.sublevel {
    width: 90%;
    margin-left: 5%;
}